.TodoList {
    &-col {
        .checked {
            border-color: #bd2130;
        } 
    }
    &-light {

    }
    &-dark {
        background-color: #2f2f2f;
        color: #fff;
    }
    &-card {
        margin: 10px 0; 
        &-check {
            position: absolute;
            top: 0px;
            right: 5px;
        }
    }
}