.TodoList-card {
    &-check {
        .icon-in-button {
            :hover {
                color: #fff;
            }
        }
    }
    &-light {
        background-color: #fff;
    }
    &-dark {
        background-color: #2f2f2f;
        border-color: darkslategray;
    }
    &-priority {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1px 5px;

        &.low {
            background-color: yellow;
        }
        &.medium {
            background-color: green;
        }
        &.high {
            background-color: red;
        }
    }
}
