.TodoList-card {
    &-check {
        .icon-in-button {
            :hover {
                color: #fff;
            }
        }
    }
    &-priority {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1px 5px;

        &.low {
            background-color: yellow;
        }
        &.medium {
            background-color: green;
        }
        &.high {
            background-color: red;
        }
    }
}



// .btn-outline-warning:hover {
//     color: #fff;