@import './../utilVariables.scss';

.contact {
    &-input {
        &.input-invalid {
            border: 1px solid #dc3545;
        }
    }
}


.signin {
    &-row {
        justify-content: center;
    }
}

.about {
    &-text {
        color: $accent;
    }
}