.search {
    &-accordion {

        &-card {
            justify-content: center;
            display: flex;
            align-items: center;
            overflow: visible !important;

            .card-header {
                background-color: transparent;
            }

            .card-body {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;


                input {
                    border: 1px solid rgba(0,0,0,.125);
                }
            }

            &-dropdown {
                div {
                    margin: 1px;
                    text-align: center;
                }
            }
        }
    }
    &-dark {
        background-color: #2f2f2f;
        .search-accordion-card {
            background-color: #2f2f2f;
        }

        input {
            background-color: #2f2f2f;
            border-color: darkslategray !important;
        }
    }
    
}